<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/display_puppy">
      <p>Name<input type="text" name="name"></p>
      <p>Breed<input type="text" name="breed"></p>
      <p>Age<input type="text" name="age"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
