<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Puppy Name:<br>
      <%=@name%></h1>
    <h1>Puppy Breed:<br>
      <%=@breed%></h1>
    <h1>Puppy Age:<br>
      <%=@age%></h1>
  </body>
</html>
